body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  #initiativesList {
    list-style-type: none;
    padding: 0;
  }

  .initiativeItem {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }

  #loadMoreBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
}