body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    margin-bottom: 70px;
  }

  #initiativesList {
    list-style-type: none;
    padding: 0;
  }

  .initiativeItem {
    border: 1px solid #ddd;
    background-color: rgb(224, 137, 152);
    padding: 10px;
    margin-bottom: 10px;
  }

  #loadMoreBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
}

#loginBtn {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(202, 75, 96);
    color: white;
    position:absolute;
    top: 10px;
    right: 30px;
}

#loginBtn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#registerBtn {
    background-color: rgb(202, 75, 96);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 10px;
    right: 100px;
}

#registerBtn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#deleteInitiativeBtn{
    cursor: pointer;
    background-color: rgb(202, 75, 96);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#deleteInitiativeBtn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#addInitiativeBtn{
    background-color: rgb(202, 75, 96);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#addInitiativeBtn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
